body {
    background: rgb(200, 217, 240);
font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cont{
    max-width: 75%;
    margin: auto;
}

h1 { color: darkblue}
h1 {
    margin: auto;
    }

.fuf {
    width: 400px;
    border-radius: 2px;
    }
    .info p {
    margin: 0;
    }
    haha p {
    font-weight: 600;
    font-size: 22;
    }
.fuf:hover{
    width: 430px;
    }  
